RewriteEngine On

# 禁止访问系统目录
RewriteRule ^lib/ - [R=403,L,NC]
RewriteRule ^vendor/ - [R=403,L,NC]
RewriteRule ^data/ - [R=403,L,NC]
RewriteRule ^up/.*\.php$ - [R=403,L,NC]

# 禁止访问敏感文件类型
RewriteRule \.(htaccess|htpasswd|json|lock|md|gitignore|db|toml)$ - [R=403,L,NC]

# 禁止访问 up 目录下的 PHP 文件

# 禁止列出目录
Options -Indexes
